* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    height: 720px;
    max-width: 320px;
    max-height: 720px;
    /* background-color: #fff; */
}

img {
    width: 100px;
    height: 100px;
}