* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container {
    width: 320px;
    height: 720px;
    max-width: 320px;
    max-height: 720px;
    /* background-color: #fff; */
}

.header {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: bolder;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

img {
    width: 100px;
    height: 100px;
}

.middle {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.top-middle {
    width: 100%;
    height: 180px;
    background-color: white;
    word-wrap: break-word;
}

.middle-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 60px;
}

.dis {
    width: 48%;
    height: 60px;
    background-color: #444059;
    border-radius: 10px;
}

.bottom-middle {
    width: 100%;
    height: 60px;
    background-color: #28A9F1;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
}

.middle input {
    border-radius: 10px;
    background-color: #444059;
    box-sizing: border-box;
    /* padding-top: -80px; */
    /* text-align: center; */
}

/* give inner padding for input tag */
.middle input {
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
    word-wrap: normal;
}

.middle input:focus {
    padding: 10px;

}

.middle input::placeholder {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: bolder;
    color: #8F8F8F;
}

.middle-middle input {
    text-align: center;
}

.middle-middle input::placeholder {
    padding: 0;
    position: absolute;
    top: 35%;
    left: 45%;
}